  <div class="text-center grid p-4 flex-fill">
    <h2 class=" py-1">Your trip</h2>
      <%= simple_form_for [@flat, @flat.bookings.build] do |f| %>
      <div class="elem-group inlined py-4">
        <%= f.input :chekin_date %>
      </div>
      <div class="elem-group inlined pb-4">
        <%= f.input :checkout_date %>
      </div>
      <div class="mt-4">
        <%= f.submit class: 'button-50' %>
      </div>
        <% end %>
  </div>
