<div class="container m-4 text-center p-2 flex-fill">
  <h1 class=mb-6>Your trip</h1>

  <%= bootstrap_form_for [@flat, @booking] do |f| %>
      <%= f.date_field :chekin_date %>
      <%= f.date_field :checkout_date %>
      <%= f.submit "create booking" %>
  <% end %>
</div>

<!--<div class="elem-group inlined col-mb-3 pb-2">
        <label for="checkin-date">Check-in Date</label>
        <input type="date" id="checkin-date" name="checkin" required>
      </div>
      <div class="elem-group inlined col-mb-3 pb-2">
        <label for="checkout-date">Check-out Date</label>
        <input type="date" id="checkout-date" name="checkout" required>
      </div>
      <div class="elem-group inlined col-mb-3">
        <label for="adult">Adults</label>
        <input type="number" id="adult" name="total_adults" placeholder="2" min="1" required>
      </div>
    </p>
    <div class="d-grid gap-2 col-mb-3">
      <button type="button" class="btn btn-success">Reserve</button>
</div> -->
