
  <div class="banner-container banner-change">
    <div class="banner-nav-bar">
        <div>
          <h1>
            <i class="fa-solid fa-house-user"></i>
            <%= link_to "Airtnt", root_path, class: "main-container-navbar logo" %>
          </h1>
        </div>
        <div>
          <ul class="banner-ul">
            <li><%= link_to "Login", new_user_session_path, class: "nav-link" %></li>
            <li><%= link_to "Sign up", new_user_registration_path, class: "nav-link"%></li>
          </ul>
        </div>
    </div>

    <div class="banner-info">
      <div>
        <p class="banner-title">Live a life you will remember</p>
        <p class="banner-subtitle">All flats!</p>
      </div>
    </div>
  </div>
