<div class="banner-container">
  <div class="banner-nav-bar">
    <div>
      <h1><i class="fa-solid fa-house-user"></i></i><span class="logo-title"> Airtnt</span></h1>
    </div>
    <div>
      <ul class="banner-ul">
        <li>Login</li>
        <li class="btn-sign">Sign up</li>
      </ul>
    </div>
  </div>

  <div class="banner-info">
    <div>
      <p class="banner-title">Live a life you will remember</p>
      <p class="banner-subtitle">All flats!</p>
    </div>
  </div>
</div>
<div class="flats-category">
    <p class="category-title">MY FLATS</p>
</div>
