<div class="container pt-16px">

<div class="row">
  <div class="col-sm-6">
    <div class="card">
      
      <div class="card-body">
        <h5 class="card-title"> <strong> Heredia, Costa Rica </strong> </h5>
        <p class="card-text">1031 kilómetros
        11 - 16 de oct
        <strong>$1,842,626 COP </strong> noche</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title"><strong>Austin, Texas, Estados Unidos </strong></h5>
        <p class="card-text"> 3543 kilómetros
        10 -15 de oct
        <strong>$2,771,205 COP </strong> noche <strong> </p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>
  </div>
</div>


</div>
