.banner-container {
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://www.bonaireoceanfrontvillas.com/sites/default/files/villa_slideshow_images/dsc_2655.jpg");
  height: 80vh;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  color: #fff;

  h1 {
    font-size: 40px;
    font-weight: 700;
    color: #fff
  }

  ul {
    display: flex;
    justify-content: space-between;
  }

  li {
    padding: 5px 20px;
    margin: 0 20px;
    list-style-type: none;
  }

  .banner-nav-bar {
    padding: 50px;
    display: flex;
    justify-content: space-between;
  }

  .fa-play {
    margin-right: 10px;
  }

  .banner-info {
    position: absolute;
    margin-top: 10px;
    padding: 50px;
  }

  .banner-title {
    margin: 0;
    font-size: 42px;
    font-weight: 700;
  }

  .banner-subtitle {
    font-weight: 300;
    margin: 0 0 10px;
    font-size: 28px;
  }

  .logo {
    font-size: 30px;
    text-decoration: none;
    color: white;
  }

  .fa-house-user {
    display: block
  }

  .container-title {
    display: inline-block;
  }
}
