.main-container {
  display: flex;
  padding: 16px;
}

.grid-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-wrap: wrap;
}

.card-img-show {
  border-radius: 2px;
  height: 450px;
  width: 600px;
}
