.main-container {
  display: flex;
  padding: 30px;
}

.grid-container {
  display: flex;
  justify-content: center;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 16px;
  flex-wrap: wrap;
}
.card-img-show {
  border-radius: 2px;
  height: 450px;
  width: 600px;
}

.flip-card {
  background-color: transparent;
  width: 300px;
  height: 300px;
  border: 1px solid #f1f1f1;
  perspective: 1000px;
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  border-radius: 10px;
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: rgb(33, 33, 33);
}

.front-card-img-main {
  border-radius: 10px;
  width:300px;
  height:300px;
}

.flip-card-back {
  width: 300px;
  height: 300px;
  background-color: rgb(33, 33, 33);
  transform: rotateY(180deg);
  text-align: center;
  border: 20px;
  padding: 20px;
  text-align: center;
}

.card-title {
  text-align: center;
  font-size: 20px !important;
  font-weight: bolder;
  border: 5px;
  padding-top: 10px;
  color: #f1f1f1;
  border-bottom: 1px solid #bdbcbc;
}

.card-description {
  font-size: 13px !important;
  padding-left: 1px;
  padding-right: 1px;
  border: 5px;
  color: #f1f1f1;
}

.card-title-bookings{
  color: RGB(88, 87, 184);
}
.card-info {
  font-size: 18px !important;
  padding-top: 2px;
  color: #f1f1f1;
  font-weight: lighter;
}

.card-info-details {
  display:flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-content: space-between;
  padding: 0;
  font-weight: lighter;
}

.card-info-details-p {
  text-align: center;
  font-size: 13px !important;
  font-weight: lighter;
}

.card-text-price {
  padding-top: 3px;
  font-weight: bold;
  font-size: 18px !important;
  text-align: center;
}

.card-buttons {
  display:flex;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  padding-top: 5px;
}
