.container-flat {
  margin-top: 150px;
  justify-content: center;
  margin-bottom: 150px;
}

.container-detail-form{
  display: flex;
  justify-content: space-around;
}

.container-reviews {
  margin-right: 300px;
  margin-left: 300px;
}
