.footer {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  bottom: 0;
}

.fa-github {
  color: #0e4956;
}

.container-review-form {
  margin-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
  width: 70%;
  margin-bottom: 200px;
  align-items: center;
}
