.footer {
  text-align: center;
  padding: 30px;
  background-color: #fff;
  position: fixed;
  width: 100%;
  bottom: 0;
}

.fa-github {
  color: #5856B8;
}

.container-review-form {
  margin-top: 200px;
  padding-left: 200px;
  padding-right: 200px;
  width: 70%;
  margin-bottom: 200px;
  align-items: center;
}

.container-booking-new {
  margin-top: 150px;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}
