.navbar-lewagon {
  justify-content: space-between;
  background: #0E4956;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff
}

h1 a {
  color: #f8f8f8;
  text-decoration: none;
}

h3 {
  font-size: 30px;
  font-weight: 450;
  color: #fff;
}

.navlink-color {
  color: #fff
}
