.main-container-navbar {
  display: flex;
  padding: 10px;
  text-decoration: unset;
  align-items: center;
  color: #ffffff;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #0E4956;
  height: 75px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  display: flex;
}

h3 {
  font-size: 30px;
  font-weight: 450;
  color: #fff;
}

.navlink-color {
  color: #fff
}
