.main-container-navbar {
  text-decoration:none;
  align-items: center;
  color: #ffffff;
}

.navbar-lewagon {
  justify-content: space-between;
  background: rgb(88, 86, 184);
  height: 75px;
  display: flex;
  padding: 10px;
  border-bottom: 1px solid #bdbcbc;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,.2);
  padding-left: 30px;
  padding-right: 30px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
}

h1 {
  font-size: 40px;
  font-weight: 700;
  color: #fff;
  display: flex;
}

h3 {
  font-size: 30px;
  font-weight: 450;
  color: #fff;
}

.navlink-color {
  color: #fff
}

.logo-domain {
  font-size: 30px;
  color: #ffffff;
}

.welcome-user{
  color: #ffffff !important;
  font-size: 20px !important;
  font-weight: 200;
  padding-left: 30px;
}
