.btn-circle.btn-xl {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  border-radius: 50%;
  font-size: 24px;
  line-height: 1.33;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

.btn-circle {
  width: 30px;
  height: 30px;
  padding: 6px 0px;
  border-radius: 50%;
  text-align: center;
  font-size: 12px;
  line-height: 1.42857;
}

#new-flat-btn {
  border-radius: 50%;
  position: fixed;
  z-index: 10;
  right: 30px;
  bottom: 30px;
}

.btn:hover {
  background-color: #2EE59D;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}
