<h1>Reviews#create</h1>
<p>Find me in app/views/reviews/create.html.erb</p>
<% if policy(@review).create? %>
  <%= link_to "New review", new_flat_review_path(@flat), class: "btn bt-primary" %>
<% end %>
